/* Fonts
----------------------------------------------------------------------- */

//SenticoSansDT-Bold
@font-face {
    font-family: senticosansBold;
    src: url("../../dist/font/SenticoSansDT-Bold.otf");
}

//SenticoSansDT-BoldItalic
@font-face {
    font-family: senticosansBoldItalic;
    src: url("../../dist/font/SenticoSansDT-BoldItalic.otf");
}

//SenticoSansDTCond-Bold
@font-face {
    font-family: senticosansCondBold;
    src: url("../../dist/font/SenticoSansDTCond-Bold.otf");
}

//SenticoSansDTCond-BoldIta
@font-face {
    font-family: senticosansCondBoldIta;
    src: url("../../dist/font/SenticoSansDTCond-BoldIta.otf");
}

//SenticoSansDTCond-ExtBdIta
@font-face {
    font-family: senticosansCondExtBdIta;
    src: url("../../dist/font/SenticoSansDTCond-ExtBdIta.otf");
}

//SenticoSansDTCond-ExtraBold
@font-face {
    font-family: senticosansCondExtraBold;
    src: url("../../dist/font/SenticoSansDTCond-ExtraBold.otf");
}

//SenticoSansDTCond-Italic
@font-face {
    font-family: senticosansCondItalic;
    src: url("../../dist/font/SenticoSansDTCond-Italic.otf");
}

//SenticoSansDTCond-Light
@font-face {
    font-family: senticosansCondLight;
    src: url("../../dist/font/SenticoSansDTCond-Light.otf");
}

//SenticoSansDTCond-LightIta
@font-face {
    font-family: senticosansCondLightIta;
    src: url("../../dist/font/SenticoSansDTCond-LightIta.otf");
}

//SenticoSansDTCond-Medium
@font-face {
    font-family: senticosansCondMedium;
    src: url("../../dist/font/SenticoSansDTCond-Medium.otf");
}

//SenticoSansDTCond-MediumIta
@font-face {
    font-family: senticosansCondMediumIta;
    src: url("../../dist/font/SenticoSansDTCond-MediumIta.otf");
}

//SenticoSansDTCond-Regular
@font-face {
    font-family: senticosansCondRegular;
    src: url("../../dist/font/SenticoSansDTCond-Regular.otf");
}

//SenticoSansDTCond-Thin
@font-face {
    font-family: senticosansCondThin;
    src: url("../../dist/font/SenticoSansDTCond-Thin.otf");
}

//SenticoSansDTCond-ThinIta
@font-face {
    font-family: senticosansCondThinIta;
    src: url("../../dist/font/SenticoSansDTCond-ThinIta.otf");
}

//SenticoSansDT-ExtraBold
@font-face {
    font-family: senticosansExtraBold;
    src: url("../../dist/font/SenticoSansDT-ExtraBold.otf");
}

//SenticoSansDT-ExtraBoldIta
@font-face {
    font-family: senticosansExtraBoldIta;
    src: url("../../dist/font/SenticoSansDT-ExtraBoldIta.otf");
}

//SenticoSansDT-Italic
@font-face {
    font-family: senticosansItalic;
    src: url("../../dist/font/SenticoSansDT-Italic.otf");
}

//SenticoSansDT-Light
@font-face {
    font-family: senticosansLight;
    src: url("../../dist/font/SenticoSansDT-Light.otf");
}

//SenticoSansDT-LightItalic
@font-face {
    font-family: senticosansLightItalic;
    src: url("../../dist/font/SenticoSansDT-LightItalic.otf");
}

//SenticoSansDT-Medium
@font-face {
    font-family: senticosansMedium;
    src: url("../../dist/font/SenticoSansDT-Medium.otf");
}

//SenticoSansDT-MediumItalic
@font-face {
    font-family: senticosansMediumItalic;
    src: url("../../dist/font/SenticoSansDT-MediumItalic.otf");
}

//SenticoSansDT-Regular
@font-face {
    font-family: senticosansRegular;
    src: url("../../dist/font/SenticoSansDT-Regular.otf");
}

//SenticoSansDT-Thin
@font-face {
    font-family: senticosansThin;
    src: url("../../dist/font/SenticoSansDT-Thin.otf");
}

//SenticoSansDT-ThinItalic
@font-face {
    font-family: senticosansThinItalic;
    src: url("../../dist/font/SenticoSansDT-ThinItalic.otf");
}