/* Checkbox
----------------------------------------------------------------------- */

.btn
{
    @extend #NO-BORDER;
    margin: 0 3px;
}

.btn-primary        { background: $lochmara; }
.btn-danger         { background: $chestnut; }
.btn-info           { background: $cerulean; }
.btn-warning        { background: $tulipTree; }
.btn-success        { background: $apple; }
.btn-default        { background: lighten($silver, 25%); }