/* Colors
----------------------------------------------------------------------- */

// Color Default
$silver:			#A5A5A5;
$lochmara:          #0079C2;
$cerulean:          #00aeef;
$metal:             #D5CAC1;
$chestnut:          #B8423E;

// Color Saturation
$light:             lighten( $silver, 50% );
$dark:              #231F20;