/* Mixins
----------------------------------------------------------------------- */

// CLEARFIX: For clearing floats like a boss
%clearfix
{
	zoom: 1;

	&:before,
	&:after
	{
		content: '';
		display: table;
	}

	&:after { clear: both; }
}

// TRANSPARENT
@mixin transparent 
{
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

// TRANSITION
@mixin transition-link 
{ @extend #ANIMATE; }

// SPACE
@mixin space
{ @extend #NO-MARGIN, #NO-PADDING; }

// DEFAULT
@mixin default
{
	@include space;
	width: $percentage;    height: $percentage;
}

// Ignorando a interação do usuário
@mixin ignore-interaction ()
{ pointer-events: $hide; }

// FONT-FACE
@mixin code-font
{
	@extend #FAMILY, #NORMAL;
	font-size: 14px;
}

// Border-box
@mixin border-box 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: 	border-box;
    box-sizing: 		border-box;
}

// CIRCLE
@mixin circle
{
    width: $hundred;    height: $hundred;
    border-radius: ($percentage/2);
}

// Cover
@mixin cover 
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// Img Position
@mixin imgPosition 
{
	background-repeat: no-repeat;
	background-position: center top; 
	background-attachment: fixed;
}

//Button Transparente 
@mixin btnDef
{
	@extend #ANIMATE;
    border: solid 1px;
    color: $light;
	
	&:hover
	{
		color: $dark;
		background: $light;
		border-color: $light;
	}
}

//Button Transparente 
@mixin btnTrans
{
    background: transparent;
    border-color: $light;
}