/* Variables
----------------------------------------------------------------------- */

//NUMBERS
$percentage:			100%;
$zero:					0;

//DISPLAY
$hide: 					none;
$show: 					block;
$in-block: 				inline-block;

//DIMENSION
$full-width:			$percentage;
$full-height:			$percentage;

//HERITAGE
$inherit:				inherit;
$borderbox:				border-box;


//Break Width
$break-small:           480px;
$break-middle:          768px;