/* NavBar
----------------------------------------------------------------------- */

aside.sidebar
{
    @extend #FIXED, #NO-MARGIN, #NO-PADDING;
    width: 280px;   height: $percentage;
    border-right: solid 1px lighten($metal, 10%);
    padding-top: 50px;
    background: lighten($metal, 18%);

    .search
    {
        padding: 20px;
        border-bottom: solid 1px lighten($metal, 15%);
    }

    ul.components
    {
        @include default;
        padding: 20px;

        li.lt
        {
            width: $percentage;

            > a
            {
                @extend #SHOW;
                margin-bottom: 5px;
                font-family: senticosansThin;
                width: max-content;
                border-left: solid 2px transparent;
                padding-left: 10px;

                &:hover
                {
                    @extend #NO-UNDERLINE;
                    color: $lochmara;
                }
            }

            a.active
            {
                color: $cerulean;
                border-color: $cerulean;
            }

            &_bd > a { font-family: senticosansRegular; }

            ul.inter-lt
            {
                @extend #HIDE;
                padding-left: 10px;
            }
        }
    }
}