/* Normalize
----------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	@extend #FAMILY;
	@include space;
	border: $zero;
	outline: $zero;
	vertical-align: baseline;
	font-style: $inherit;
	font-weight: lighter;
	font-size: 1rem; //100% Default = 16px
}

*,
*:after,
*:before
{
	@include space;
	@include border-box;
    -webkit-box-sizing: $borderbox;
    -moz-box-sizing: $borderbox;
    box-sizing: $borderbox;
}