/* Aside
----------------------------------------------------------------------- */

main
{
    @include default;
    padding: 50px 0 0 280px;

    .components
    {
        @extend #OVERFLOW;
        @include default;
        padding: 20px 30px;
        padding-right: 210px;

        /* Components */
        @import "../components/button/button";
        @import "../components/checkbox/checkbox";
    }

    .section-nav
    {
        @extend #FIXED;
        top: 0; right: 0;
        width: 190px;
        padding-left: 10px; margin-top: 70px;
        border-left: solid 1px lighten($silver, 20%);

        .lk
        {
            @extend #NO-UNDERLINE;
            font-size: 0.81rem;
            color: $metal;

            &:hover { color: $cerulean; }
        }
    }
}