/* Sidebar
----------------------------------------------------------------------- */

.box-scrool
{
    @include default;
    @extend #ABSOLUTE;
    top: 0; 
    padding-top: 124px;
}

ul.components
{
    @extend #OVERFLOW;
    @include default;
    padding: 20px;

    li.lt
    {
        width: $percentage;

        > a
        {
            @extend #SHOW;
            font-family: senticosansThin;
            border-left: solid 2px transparent;
            padding: 5px 0;
            padding-left: 10px;

            &:hover
            {
                @extend #NO-UNDERLINE;
                color: darken($metal, 20%);
                background: lighten($metal, 16%);
            }
        }

        &_bd > a { font-family: senticosansRegular; }

        ul.inter-lt
        {
            @extend #SHOW;
            padding-left: 10px;

            li.lt a.lk
            { @extend #NO-BORDER; }
        }

        &:hover
        {
            @extend #ANIMATE;

            a
            { border-color: $metal; }
        }

        a.active
        {
            color: $cerulean;
            border-color: $cerulean;
            background: lighten($metal, 16%);
        }
    }
}