/* Breadcrumb
----------------------------------------------------------------------- */

.breadcrumb
{
    background: lighten($metal, 16%);

    li.breadcrumb-item,
    li.breadcrumb-item a
    {
        font-family: senticosansThin;
        font-size: 0.87rem;
    }

    li.breadcrumb-item a
    { color: $cerulean; }

    li.breadcrumb-item.active
    { color: darken($metal, 20%); }
}