@import "general";

html, body
{ @include default; }

p, label, span, a, li
{
    @if (lightness($silver) < 30) {
        color: $light;
    } @else {
        color: $concrete;
    }
}

p strong, a strong, span strong
{ @extend #BOLD; }

a:hover { color: $cherry; }

ul
{
    @include space;
    @extend #NO-LIST;
}

.pull-left      { @extend #LEFT; }
.pull-right     { @extend #RIGHT; }